.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    margin: 5px;
  }
  * {box-sizing: border-box;}

.wrapper > div {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color: black;
}
input.butHS{
    display: inline-block;
    width: 35%;
    margin: 10px 2.5px 10px 2%;
}
input.butOK{
    display: inline-block;
    width: 35%;
    margin: 10px 2.5px 10px 2%;
}

input.butHS:hover{
    transition: color 1s;
    background: rgba(0, 0, 0, 0.452);
}

input.butOK:hover{
    transition: color 1s;
    background: rgba(0, 0, 0, 0.274);
}


