@media screen and (min-width: 900px){
#formLogin{
    float: right;
    padding: 20px; 
    margin-right: 25%;
    height: auto;
    width:200px;
    margin-top: 35px;
}
#contenu{
    float: left;
    margin: 10px;
    margin-top: 100px;
    margin-left: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
#formLogin span{
    background: black;
    color: white;
    font-family: 'bebas';
    width: auto;
    text-align: center;
    margin-left: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
#formLogin #mess_error{
    color: red;
    font-family: 'bebas';
    background: lightgrey;
}
}
@media screen and (max-width: 900px){
    #formLogin{
        float: right;
        padding: 20px; 
        margin-right: 45%;
        height: auto;
        width:200px;
    }
    #contenu{
        float: left;
        margin: 5px;
        margin-top: 5px;
        margin-bottom: 25px;
        margin-left: 13%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 15px;
    }
    #formLogin span{
        background: black;
        color: white;
        font-family: 'bebas';
        width: auto;
        text-align: center;
        margin-left: 16px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    #mess_error{
        color: red;
        font-family: 'bebas';
        background: lightgrey;
    }
}
